In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 

#Reading the CSV file 
df = pd.read_csv("limpio.csv") 
  
# Printing top 5 rows 
df.head()

In [57]:
df.describe()

,MontoEstimadoLicitacion,TiempoDuracionContrato,ValorTiempoRenovacion,CantidadItem,CantidadOferta,MontoNetoOferta,MontoTotalOferta
count,4.059260e+05,405926.000000,405926.0,405926.000000,405926.000000,405926.000000,405926.000000
mean,3.944405e+08,4.958273,0.0,101.383863,101.372546,19562.667247,48713.638520
std,2.139637e+10,24.021706,0.0,1070.556598,1070.529182,32082.396754,50372.399329
min,0.000000e+00,0.000000,0.0,0.000000,0.000000,-1.000000,-1.000000
25%,1.054434e+06,0.000000,0.0,1.000000,1.000000,1000.000000,6750.000000
50%,3.177414e+06,0.000000,0.0,2.000000,2.000000,6915.000000,30000.000000
75%,1.082670e+07,0.000000,0.0,10.000000,10.000000,21900.000000,78500.000000
max,5.856794e+12,10416.000000,0.0,165840.000000,165840.000000,186123.000000,186123.000000

In [58]:
df.head()

,NroLicitacion,NombreLicitacion,TipoLicitacion,Descripcion,MonedaLicitacion,MontoEstimadoLicitacion,MontoEstimadoVisible,BaseEstimacionMontoLicitacion,FuenteFinanciamiento,JustificacionMontoEstimado,...,ActividadProveedor,TamanoProveedor,NombreOferta,EspecificacionesProveedor,EstadoOferta,CantidadOferta,MonedaOferta,MontoNetoOferta,MontoTotalOferta,ResultadoOferta
0,5067-14-LE18,Contratación suministro bidones agua purifica...,Licitación Pública Entre 100 y 1000 UTM (LE),Contratación de suministro de bidones de agua ...,CLP,1800,NO,Precio Referencial,NaN,NaN,...,VENTA Y COMERCIALIZACIÓN DE AGUA PURIFICADA,Mediana,Provisión de agua purificada y dispensadores,Oferta para licitación por agua purificada en ...,Aceptada,1,CLP,1990,1990,Perdedora
1,5067-14-LE18,Contratación suministro bidones agua purifica...,Licitación Pública Entre 100 y 1000 UTM (LE),Contratación de suministro de bidones de agua ...,CLP,1800,NO,Precio Referencial,NaN,NaN,...,Producción de aguas minerales y otras aguas em...,Pequeña,Propuesta agua purificada Positive Mood,Botellones de 20L agua purificada 1800 pesos N...,Aceptada,1,CLP,1800,1800,Ganadora
2,5531-4-LP18,"Servicio Diseño Gráfico, Sistemas de Información",Licitación Pública Mayor 1000 UTM (LP),El Departamento de Ingeniería Industrial de la...,CLP,1,Si,Presupuesto disponible,NaN,NaN,...,EMPRESAS DE SERVICIOS INTEGRALES DE INFORMATIC...,Micro,SERVICIO DE DISENO GRAFICO Y SISTEMAS DE INFOR...,Ver anexo económico,Aceptada,1,CLP,1,1,Ganadora
3,5531-4-LP18,"Servicio Diseño Gráfico, Sistemas de Información",Licitación Pública Mayor 1000 UTM (LP),El Departamento de Ingeniería Industrial de la...,CLP,1,Si,Presupuesto disponible,NaN,NaN,...,EMPRESAS DE PUBLICIDAD| OTROS DISENADORES N.C....,Micro,Servicio de diseno gráfico y sistemas de infor...,Servicio de Diseño Gráfico y sistemas de Infor...,Aceptada,1,CLP,1,1,Perdedora
4,5531-4-LP18,"Servicio Diseño Gráfico, Sistemas de Información",Licitación Pública Mayor 1000 UTM (LP),El Departamento de Ingeniería Industrial de la...,CLP,1,Si,Presupuesto disponible,NaN,NaN,...,-,Pequeña,Propuesta Comunicación Puente Ltda,Se adjunta tarifario con lo solicitado mensual...,Aceptada,1,CLP,1,1,Perdedora

In [ ]:
describe_result = df.describe(include=['object'])

# Contar valores nulos por columna
nulos = df.isnull().sum()

# Agregar la fila 'nulos' al resultado de describe()
describe_result.loc['nulos'] = nulos

# Calcular porcentaje de valores nulos por columna
num_rows = len(df)
null_percentages = (nulos / num_rows) * 100

# Formatear los porcentajes con el símbolo de porcentaje
null_percentages_formatted = null_percentages.apply(lambda x: f"{x:.2f}%")

# Agregar la fila 'porcentaje de nulos' al resultado de describe()
describe_result.loc['porcentaje de nulos'] = null_percentages_formatted
describe_result

In [ ]:
df.columns

In [ ]:
# Eliminar múltiples columnas del DataFrame
df_new = df.drop(columns=['NroLicitacion','FuenteFinanciamiento', 'JustificacionMontoEstimado'])

In [ ]:
# Filtrar licitaciones públicas
licitaciones_publicas = df_new[df_new['TipoLicitacion'].str.contains('Pública')]

# Filtrar licitaciones privadas
licitaciones_privadas = df_new[df_new['TipoLicitacion'].str.contains('Privada')]

# Definir colores para cada tipo de licitación
colores = ['#1f77b4', '#ff7f0e']  # Colores para público y privado respectivamente

# Crear subgráficos para cada tipo de licitación
plt.figure(figsize=(10, 5))

# Gráfico para licitaciones públicas
plt.subplot(1, 2, 1)
sns.countplot(y='TipoLicitacion', data=licitaciones_publicas, palette=[colores[0]])

# Etiquetas y título
plt.title('Licitaciones Públicas')

# Eliminar etiquetas del eje y
plt.ylabel('')

# Gráfico para licitaciones privadas
plt.subplot(1, 2, 2)
sns.countplot(y='TipoLicitacion', data=licitaciones_privadas, palette=[colores[1]])

# Etiquetas y título
plt.title('Licitaciones Privadas')

# Eliminar etiquetas del eje y
plt.ylabel('')

# Ajustar diseño
plt.tight_layout()

# Mostrar los gráficos
plt.show()

In [ ]:



df_new['ResultadoOferta'] = df['ResultadoOferta'].astype('category')
df_exclude_object = df_new.select_dtypes(exclude=['object'])
# Cambiar la columna 'Columna' a tipo categórico
# Display the resulting DataFrame
df_exclude_object

In [ ]:
df_exclude_object.info()

In [ ]:
sns.heatmap(df_exclude_object.corr(method='pearson').drop( 
  ['ValorTiempoRenovacion','ResultadoOferta'], axis=1).drop(['ValorTiempoRenovacion','ResultadoOferta'], axis=0), 
            annot = True); 
  
plt.show()

In [ ]:
df_new